#app {
    position: relative;
}

.content{
    position: absolute;
    top: 0;
    right:0;
    left: 200px;
    padding:20px;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding:20px;
    box-shadow: inset 0px 0px rgba(0,0,0,0.1);
    overflow: auto;
    background-color: #dcdcdc75;
}
.row{
    margin-bottom:20px;
}
.col-lg{
    margin-bottom:20px;
}
.btnToggle{
    position: fixed;
    right: 0;
}